.profile a {
    text-decoration: underline;
 }

 .main .profile {
    align-items: center;
    min-height: calc(80vh - var(--header-height) - var(--footer-height) - (var(--gap) * 2));
    text-align: center;
}

a {
    transition: color 0.2s ease;
    /* Smooth color transition */
}

a:hover {
    color: rgba(0, 0, 0, 0.6);
    /* Hover color */
}

.dark a:hover {
    color: rgba(255, 255, 255, 0.8);
    /* Hover color */
}

body {
    font-family: 'IBM Plex Sans', BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.logo a {
    font-size: 18px;
}

.post-entry {
    border: 2px solid var(--border);
    transition: background-color 0.2s ease;
}
.post-entry:hover {
    background-color: var(--entry-hover)
}

.profile .profile_inner {
    gap: 18px;
}